<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angular</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="body">
        <h2>Angular</h2>


        <h3>1.1 Installation</h3>
<pre><code>
<i># To install the Angular CLI</i>
npm install -g @angular/cli

</code></pre>

<h3>1.2 Settings</h3>
<pre><code>
<i># To enable execution of PowerShell scripts</i>
Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned

<i># if npm install failed?</i>
npm config set legacy-peer-deps true
</code></pre>

<h3>1.3 Create a workspace and initial application</h3>
<pre><code>
<i># To create a new workspace</i>
ng new my-app
</code></pre>

<h3>1.4 Run</h3>
<pre><code>
<i># Run the application</i>
ng serve --open
</code></pre>

<h3>2.1 Commands</h3>
<pre><code>
<i># create component</i>
ng generate component component-name
ng g c component-name

<i># create module</i>
ng generate module module-name 
ng g m module-name

<i># create service</i>
ng generate service service-name 
ng g s service-name
</code></pre>


<h3>3.1 IF</h3>
<pre><code class="code-html">
<i># Simple if else condition</i>
&lt;h2 *ngIf="show; then ifBlock2 else elseBlock2"&gt;I am techworldthink&lt;/h2&gt;
&lt;ng-template #ifBlock2&gt;
  &lt;h2&gt;Sign in first&lt;/h2&gt;
&lt;/ng-template&gt;
&lt;ng-template #elseBlock2&gt;
  &lt;h2&gt;Sign in first&lt;/h2&gt;
&lt;/ng-template&gt;
</code></pre>

<h3>3.2 For</h3>
<pre><code class="code-html">
<i># Simple for loop - html</i>
&lt;h3 *ngFor="let each of users"&gt;{{each}}&lt;/h3&gt;
&lt;div *ngFor="let each of userDetails"&gt;
  &lt;h4&gt;{{each.name}} - {{each.email}} - {{each.phone}}&lt;/h4&gt;
&lt;/div&gt;

<i># Simple for loop - ts</i>
users=['A','B','C'];
  userDetails = [
    {name:'A',email:'a@gmail.com',phone:'111'},
    {name:'B',email:'b@gmail.com',phone:'222'},
    {name:'C',email:'c@gmail.com',phone:'333'},
  ];
</code></pre>

<h3>4.1 Button Click</h3>
<pre><code class="code-html">
<i># html</i>
&lt;button (click)="changeColor()" &gt; Dark Mode &lt;/button&gt;

<i># ts</i>
color = 'red';
changeColor() {
    this.color = 'black';
  }
</code></pre>


<h3>5.1 Form - Template Driven Form</h3>
<pre><code class="code-html">
<i># html</i>
&lt;form #basicForm="ngForm" (submit) = "getData(basicForm.value)"&gt;
  &lt;input type="text" ngModel name="user" placeholder="username" /&gt;
  &lt;br/&gt;&lt;br/&gt;
  &lt;input type="text" ngModel name="email" placeholder="email" /&gt;
  &lt;br/&gt;&lt;br/&gt;
  &lt;input type="text" ngModel name="password" placeholder="password" /&gt;
  &lt;br/&gt;&lt;br/&gt;
  &lt;button&gt;Register&lt;/button&gt;
&lt;/form&gt;

<i># ts</i>
userData:any = {};
getData(data: NgForm) {
  console.warn(data);
  this.userData = data;
  console.warn(this.userData.user);
}
</code></pre>


<h3>5.2 Form - Reactive Form</h3>
<pre><code class="code-html">
<i># html</i>
&lt;form [formGroup]="loginForm" (ngSubmit)="loginUser()"&gt;
  &lt;input type="text" placeholder="Name" formControlName="user"/&gt;
  &lt;br /&gt;
  &lt;span *ngIf="user && user.invalid && user.touched"&gt;this input field is not valid&lt;/span&gt;
  &lt;br /&gt;
  &lt;input type="password" placeholder="Password" formControlName="pass"/&gt;
  &lt;br /&gt;
  &lt;span *ngIf="pass && pass.invalid && pass.touched"&gt;this input field is not valid&lt;/span&gt;
  &lt;br /&gt;
  &lt;button &gt;Login&lt;/button&gt;
&lt;/form&gt;

<i># ts</i>
loginUser() {
    console.warn(this.loginForm.value);
  }
</code></pre>

<h3>5.3 Form - Reactive Form - validation</h3>
<pre><code class="code-html">
<i># html</i>
&lt;form [formGroup]="loginForm" (ngSubmit)="loginUser()"&gt;
  &lt;input type="text" placeholder="Name" formControlName="user"/&gt;
  &lt;br /&gt;
  &lt;span *ngIf="user && user.invalid && user.touched"&gt;this input field is not valid&lt;/span&gt;
  &lt;br /&gt;
  &lt;input type="password" placeholder="Password" formControlName="pass"/&gt;
  &lt;br /&gt;
  &lt;span *ngIf="pass && pass.invalid && pass.touched"&gt;this input field is not valid&lt;/span&gt;
  &lt;br /&gt;
  &lt;button [disabled]="loginForm.invalid"&gt;Login&lt;/button&gt;
&lt;/form&gt;

<i># ts</i>
loginForm = new FormGroup({
    user: new FormControl('',[Validators.required,Validators.email]),
    pass: new FormControl('',[Validators.required,Validators.minLength(5)]),
  })


loginUser() {
    console.warn(this.loginForm.value);
  }
</code></pre>


<h3>6.1 Pipes</h3>
<pre><code class="code-html">
<i># html</i>
&lt;ul&gt;
  &lt;li&gt;{{message}}&lt;/li&gt;
  &lt;li&gt;{{message | uppercase}}&lt;/li&gt;
  &lt;li&gt;{{message | lowercase}}&lt;/li&gt;
  &lt;li&gt;{{date | date}}&lt;/li&gt;
  &lt;li&gt;{{date | date:'fullDate'}}&lt;/li&gt;
&lt;/ul&gt;

&lt;h1&gt;Pipes Advance&lt;/h1&gt;
&lt;ul&gt;
  &lt;li&gt;{{message | slice :3:8}}&lt;/li&gt;
  &lt;li&gt;{{user | json}}&lt;/li&gt;
  &lt;li&gt;{{user | json | uppercase}}&lt;/li&gt;
  &lt;li&gt;{{003.3500 | number:'1.2-3'}}&lt;/li&gt;
  &lt;li&gt;{{100 | currency}}&lt;/li&gt;
  &lt;li&gt;{{100 | currency:'INR'}}&lt;/li&gt;
&lt;/ul&gt;
</code></pre>


<h3>7.1 Routing</h3>
<pre><code class="code-html">
<i># html</i>
&lt;a routerLink=""&gt;Home&lt;/a&gt;
&lt;a routerLink="about"&gt;About&lt;/a&gt;
&lt;a routerLink="user"&gt;User&lt;/a&gt;
&lt;router-outlet&gt;&lt;/router-outlet&gt;

<i># app-routing.module.ts </i>
const routes: Routes = [
  { component: AboutComponent, path: 'about' },
  { component: UserComponent, path: 'user' },
  { component: HomeComponent, path: '' },
];
</code></pre>


<h3>8.1 Http - get - post - put - delete</h3>
<pre><code class="code-html">
<i># service file</i>
getEmployees():Observable&lt;Employee[]&gt;{
  return this.http.get&lt;Employee[]&gt;("http://localhost:8080/employees");
}

addEmployee(employee:Employee):Observable&lt;Employee&gt;{
  return this.http.post&lt;Employee&gt;("http://localhost:8080/employees",employee);
}

updateEmployee(employee:Employee):Observable&lt;Employee&gt;{
  return this.http.put&lt;Employee&gt;("http://localhost:8080/employees/"+employee.id,employee);
}

deleteEmployee(id:number):Observable&lt;Employee&gt;{
  return this.http.delete&lt;Employee&gt;("http://localhost:8080/employees/"+id);
}

<i># ts file</i>
public errorMessage: String = '';
onSubmit(dataFromForm:any) {
  console.log(dataFromForm);
  return this.consumerService.createBusiness(dataFromForm).subscribe(
    (data: any) =&gt; {
      console.log(data);
    },
    (error: any) =&gt; {
      if (error.error.error != null) this.errorMessage = error.error.error;
      else this.errorMessage = error.error.message;
    }
  );
}
</code></pre>

<h3>8.2 Http - header</h3>
<pre><code class="code-html">
<i># service file</i>
const httpOptions = {
  headers: new HttpHeaders({
    'Content-Type': 'application/json',
    'Access-Control-Allow-Origin': '*',
  }),
};

login(id: string, password: string): Observable&lt;any&gt; {
  return this.http.post(
    // BaseURLs - A classfile that holds all static URLS
    BaseURLs.AUTH_API + 'login',
    {
      id,
      password,
    },
    httpOptions
  );
}
</code></pre>

<h3>8.3 Http - Authentication header - Interceptor</h3>
<pre><code class="code-html">
<i># app.module.ts</i>
providers: [
SampleService1,
SampleService2,
{ provide: HTTP_INTERCEPTORS, useClass: AuthInterceptor, multi: true },
]


<i># service file</i>
import {
  HTTP_INTERCEPTORS,
  HttpEvent,
  HttpErrorResponse,
} from '@angular/common/http';

import { Injectable } from '@angular/core';

import {
  HttpInterceptor,
  HttpHandler,
  HttpRequest,
} from '@angular/common/http';

import { BehaviorSubject, Observable, throwError } from 'rxjs';
import { catchError, filter, switchMap, take } from 'rxjs/operators';
import { AuthServiceService } from '../services/auth-service.service';
import { TokenServiceService } from '../services/token-service.service';

const TOKEN_HEADER_KEY = 'Authorization'; 

@Injectable()
export class AuthInterceptor implements HttpInterceptor {
  private isRefreshing = false;
  private refreshTokenSubject: BehaviorSubject&lt;any&gt; = new BehaviorSubject&lt;any&gt;(
      null
  );
  constructor(
      private tokenService: TokenServiceService,
      private authService: AuthServiceService
  ) { }
  intercept(
      req: HttpRequest&lt;any&gt;,
      next: HttpHandler
  ): Observable&lt;HttpEvent&lt;Object&gt;&gt; {
      let authReq = req;
      const token = this.tokenService.getToken();
      if (token != null) {
          authReq = this.addTokenHeader(req, token);
      }
      return next.handle(authReq).pipe(
          catchError((error) =&gt; {
              //console.log(error);
             // console.log(error.error.message);
              if (
                  error instanceof HttpErrorResponse &&
                  //!authReq.url.includes('authorization-service/login') &&
                  //error.status === 403
                  error.error.message == "Invalid token"
              ) {
                  alert("Session TimeOut. Login Agian!");
                  this.logout();
                  window.location.href = '/login';
                  return throwError(error);
                  // this.handle401Error(authReq, next);
              }
              return throwError(error);
          })
      );
  }
  
  private addTokenHeader(request: HttpRequest&lt;any&gt;, token: string) {
      /* for Spring Boot back-end */
      return request.clone({
          headers: request.headers.set(TOKEN_HEADER_KEY, 'Bearer ' + token),
      });
  }

  logout(): void {
      this.tokenService.signOut();
      window.location.reload();
  }
}

export const authInterceptorProviders = [
  { provide: HTTP_INTERCEPTORS, useClass: AuthInterceptor, multi: true },
];
</code></pre>

    </div>
</body>

</html>












